/******************************************************************
Site Name: van Ellen + Sheryn
Author: Marco Terrinoni (MULARAM)

Stylesheet: 404 Module Stylesheet

******************************************************************/

.fullScreenBG{
	width: 100%;
	height: auto;

	.article-header{
		position: absolute;
		color: white;
	}

}