/******************************************************************
Site Name: van Ellen Sheryn
Author: Marco Terrinoni (MULARAM)

Stylesheet: Breadcrumbs Module Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
.page-title{
	margin-bottom:0;
}

p#breadcrumbs{
	span {
		color:$bones-grey;
		a{
			padding:0 0.25em;
			color: $bones-grey;

			&:hover, &:focus {
				background:$link-color;
				color:$white;
				@include transition(all 0.2s ease-in-out);
				text-shadow: none;
			}
		}
		span{
			color:$black;
		}
	}
}