/******************************************************************
Site Name: van Ellen Sheryn
Author: Marco Terrinoni (MULARAM)

Stylesheet: News List Module Stylesheet

******************************************************************/

.newsList__header{
	width:50%;
	margin: 0;
	padding: $padding*2 0 0 $padding*3;

}
.newsList__header__link{
	color:black !important;
}
.newsList__excerpt{
	margin-top:0;
}



@media only screen and (min-width: 768px) {



}

@media only screen and (min-width: 1030px) {



}

@media only screen and (min-width: 1240px) {

}

@media only screen and (min-width: 1800px) {

}