/******************************************************************
Site Name: van Ellen Sheryn
Author: Marco Terrinoni (MULARAM)

Stylesheet: Testimonial Module Stylesheet

******************************************************************/
.testimonial__icon{
	line-height:2;
	font-size:1.5em;
}

.testimonial__quote{

}

.testimonial__client{
	font-size:90%;
	font-style: italic;
	font-weight: 500;
}

@media only screen and (min-width: 768px) {


}
