/******************************************************************
Site Name: van Ellen Sheryn
Author: Marco Terrinoni (MULARAM)

Stylesheet: Large Desktop Stylsheet

This is the large desktop size.

******************************************************************/

/*********************
LAYOUT & GRID STYLES
*********************/


.wrap {
	max-width: 2400px;
}

.island{
	padding:2.5em;
}
